body {
	background: url(https://source.unsplash.com/qJTHcyQVBY8) no-repeat center fixed;
	background-size: cover;
	font-family: "Roboto", sans-serif;
	font-weight: bold;
}

.grid-container {
	display: grid;
	padding: 0px 20px 0px 20px;
	grid-template-columns: 90% 10%;
	grid-template-rows: 28% 56% 0% 5% 11%;
	grid-auto-flow: column;
	background-color: white;
	width: 100%;
	height: 100%;
}

* {
	box-sizing: border-box;
}

#center {
	max-width: 500px;
	max-height: 80px;
	width: 100%;
	height: 100%;
}

#input {
	box-shadow: none;
	border: none;
	width: 100%;
	height: 100%;
	font-size: 20px;
	font-weight: bold;
	outline: 0;
}

#line {
	background-color: #25a3ff;
	width: 100%;
	height: 100%;
	z-index: 1;
}

#progress {
	background-color: #00ae1b;
	width: 0%;
	height: 100%;
	z-index: 2;
	transition: .4s ease-in-out;
}

#next {
	border: none;
	background-color: transparent;
	grid-column: 2;
	grid-row: 1 / 6;
	font-size: 40px;
	color: #25a3ff;
	cursor: pointer;
	outline: none;
  position: relative;
	left: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
}

#next::hover {
	color: #333
}

*:focus {
	border: none;
	outline: none;
}

#placeholder {
	position: relative;
	font-size: 23px;
	bottom: 40px;
	transition: .2s ease-in-out;
	pointer-events: none;
}

#container input:valid + #placeholder {
	font-size: 13px;
	font-weight: normal;
	color: #9e9e9e;
	bottom: 57px;
}

#message {
	color: white;
	text-align: center;
	width: 100%;
  opacity: 0;
}

@media only screen and (max-width: 600px) {
  #message {
    font-size: 7vw;
  }
}

@keyframes opacity {
  from {opacity :0} to {opacity :1}
}

/* MY CSS LIB*/

.center {
	position: fixed;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

.border-radius {
	border-radius: 30px;
}

.box-shadow {
	box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.3);
}