@import url("https://fonts.googleapis.com/css?family=Poppins");
:root {
	--background-image: url("./night-plane-material-wall.jpg");
	--background-color: #29387f;
	--card-width: 100vw;
	--card-mobile-width: 100vw;
	--card-height: 100vh;
	--card-mobile-height: 100vh;
	--card-border-radius: 0;
	--card-padding: 0;
	--card-margin: 0;
	--card-mobile-margin: 0;
	--card-title-color: #d3d2d9;
	--card-subtitle-color: #67548d;
	--card-background-color: linear-gradient(transparent, #171333);
	--card-shadow: 0 0 0 0;
	--card-container-margin: 0;
	--card-header-width: 100%;
	--card-header-top: initial;
	--card-header-bottom: 100px;
	--card-header-text-align: center;
	--card-header-padding: 16px;
	--card-icon-fill: #fff;
	--card-icons-container-top: 32px;
	--card-icons-container-left: 32px;
	--card-icon-border-width: 2px;
	--card-more-button-width: 200px;
	--card-more-button-height: 36px;
	--card-more-button-margin: 30px auto 0 auto;
	--card-more-button-font-size: 20px;
	--indicator-background: rgba(255, 255, 255, 0.527);
	--indicator-zindex: 4;
	--indicator-active-background: #fff;
}

* {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	outline: none;
	-webkit-tap-highlight-color: rgba(255, 255, 255, 0);
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

html {
	height: 100%;
}

body {
	padding: 0;
	margin: 0;
	width: 100vw;
	height: 100%;
	font-size: 20px;
	background-color: var(--background-color);
	background-image: var(--background-image);
	background-size: cover;
	font-family: "Poppins", sans-serif;
	color: #fff;
	overflow: hidden;
}

#welcome-message {
	position: absolute;
	width: 100vw;
	padding: 32px 64px;
	z-index: 2;
}

.profile-image {
	width: 100px;
	height: 100px;
	border-radius: 50%;
	object-fit: cover;
	-webkit-box-shadow: rgba(0, 0, 0, 0.3) 0px 2px 3px 1px;
	-moz-box-shadow: rgba(0, 0, 0, 0.3) 0px 2px 3px 1px;
	box-shadow: rgba(0, 0, 0, 0.3) 0px 2px 3px 1px;
	cursor: pointer;
}

#welcome-message h3 {
	color: #fff;
	font-size: 36px;
	font-weight: 100;
	margin-top: 12px;
}

#slider {
	width: 100vw;
	height: 100%;
	position: absolute;
	top: 0;
	cursor: pointer;
	overflow: hidden;
}

.cards-container {
	height: 100%;
	display: flex;
	margin: var(--card-container-margin);
	list-style: none;
}

.cards-container::-webkit-scrollbar {
	width: 15px;
	background-color: transparent;
}

.cards-container::-webkit-scrollbar-thumb {
	border-radius: 10px;
	-webkit-box-shadow: rgba(0, 0, 0, 0.3) 0px 2px 3px 1px;
	box-shadow: rgba(0, 0, 0, 0.3) 0px 2px 3px 1px;
	background-color: #0086ac;
}

.card {
	position: relative;
	width: var(--card-width);
	min-width: var(--card-width);
	height: var(--card-height);
	border-radius: var(--card-border-radius);
	background: var(--card-background-color);
	margin: var(--card-margin);
	padding: var(--card-padding);
	-webkit-box-shadow: var(--card-shadow);
	-moz-box-shadow: var(--card-shadow);
	box-shadow: var(--card-shadow);
	transition: all 200ms ease-in-out;
	-webkit-transition: all 200ms ease-in-out;
	overflow: hidden;
	z-index: 3;
}

.card.active {
	width: 100vw;
	height: 100%;
	margin: 0;
	border-radius: 0;
}

.card-header {
	position: absolute;
	width: var(--card-header-width);
	padding: var(--card-header-padding);
	display: flex;
	flex-direction: column;
	top: var(--card-header-top);
	bottom: var(--card-header-bottom);
	transition: all 0.5s ease;
	text-align: var(--card-header-text-align);
}

.card.active .card-header {
	top: 15%;
}

.card .card-header span {
	width: 100%;
}

.card .card-header .card-title {
	font-size: 32px;
	color: var(--card-title-color);
}

.card .card-header .card-type {
	font-size: 16px;
	font-weight: 600;
	color: var(--card-subtitle-color);
}

.card .card-icons {
	position: absolute;
	top: var(--card-icons-container-top);
	left: var(--card-icons-container-left);
	transition: all 0.6s ease;
}

.card.active .card-icons {
	top: 7%;
}

.card .icon {
	width: 40px;
	height: 40px;
	border: var(--card-icon-border-width) solid #e0e0e0;
	border-radius: 50%;
	display: inline-flex;
	margin-right: 12px;
	position: relative;
	align-items: center;
	justify-content: center;
	box-sizing: border-box;
}

.card .icon path {
	fill: var(--card-icon-fill);
}

.card_content {
	height: 0;
	color: #212121;
	font-size: 16px;
	margin-top: 40px;
	overflow: hidden;
}

.card.active .card_content {
	height: 80%;
}

.card.active .card_content button {
	background: #3f3475;
	width: var(--card-more-button-width);
	display: block;
	margin: 50px auto 0 auto;
	height: 46px;
	border-radius: 50px;
	text-transform: capitalize;
	font-size: 24px;
	cursor: pointer;
	color: #fff;
}

.card .card-more-button {
	background: #3f3475;
	color: #fff;
	width: var(--card-more-button-width);
	display: block;
	margin: var(--card-more-button-margin);
	height: var(--card-more-button-height);
	border-radius: 50px;
	text-transform: capitalize;
	font-size: var(--card-more-button-font-size);
	color: #c2bad2;
}

.card a {
	text-decoration: none;
}

#project {
	display: none;
	position: absolute;
	width: 500px;
	height: 80%;
	background: #fff;
	border-radius: 18px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 4;
}

.obfuscator {
	display: none;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.6);
	z-index: 3;
}

#more_menu {
	position: absolute;
	margin: auto;
	bottom: 0;
	left: 0;
	right: 0;
	width: 500px;
	border-top-left-radius: 14px;
	border-top-right-radius: 14px;
	background: #fff;
	transform: translateY(500px);
	transition: all 0.5s ease;
	z-index: 4;
	box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

#more_menu.active {
	transform: translateY(0);
}

#more_menu img {
	width: 42px;
	height: 42px;
	border-radius: 50%;
}

#more_menu .menu_header {
	display: flex;
	padding: 12px;
}

#more_menu .menu_me {
	margin-left: 12px;
}

#more_menu .menu_header h5 {
	color: #212121;
}

#more_menu .menu_header h6 {
	color: #424242;
}

#more_menu .menu_content {
	margin-bottom: 6px;
}

#more_menu .menu_content a {
	text-decoration: none;
}

#more_menu .menu_content li {
	display: flex;
	padding: 6px 22px;
	align-items: center;
}

#more_menu .menu_content li:hover {
	background: rgba(0, 0, 0, 0.06);
}

#more_menu .menu_content li:active {
	background: rgba(0, 0, 0, 0.16);
}

#more_menu .menu_content svg {
	margin-bottom: 1px;
}

#more_menu .menu_content p {
	margin-left: 16px;
	margin-left: 16px;
	font-size: 18px;
	color: #212121;
}

#sliderIndicator {
	position: absolute;
	margin: 0 auto;
	left: 0;
	right: 0;
	bottom: 10px;
	text-align: center;
	z-index: var(--indicator-zindex);
}

#sliderIndicatorContainer {
	position: relative;
	margin: 0 auto;
	display: inline-flex;
}

.indicator {
	position: relative;
	top: 0;
	width: 10px;
	height: 10px;
	margin: 0 6px;
	background: var(--indicator-background);
	border-radius: 50px;
	border: none;
	transition: background .5s ease-in-out;
}

.indicator.active {
	background: var(--indicator-active-background);
	;
}

@media screen and (max-width: 600px) {
	body {
		overflow-y: hidden;
	}
	#welcome-message {
		padding: 32px;
	}
	#welcome-message img {
		width: 60px;
		height: 60px;
	}
	#welcome-message h3 {
		font-size: 28px;
	}
	.cards-container {
		margin: 0;
	}
	.card {
		width: var(--card-mobile-width);
		min-width: var(--card-mobile-width);
		margin: var(--card-mobile-margin);
	}
	.card.active {
		min-width: 100vw;
	}
	#more_menu {
		width: 100%;
	}
}